[ghq]
	root = ~/Dropbox/Dev/src
[init]
	defaultBranch = main
[user]
	name = yayoc
	email = hi@yayoc.com
[core]
	editor = nvim
	excludesfile = /Users/yayoc/.gitignore_global
[color]
	ui = true
	diff = true
[alias]
	s = status
	d = diff
	co = checkout
	br = branch
	last = log -1 HEAD
	cane = commit --amend --no-edit
	lo = log --oneline -n 10
	pr = pull --rebase
